body {
background-image: url("imgs/wego.gif");
  background-position:center;
  background-repeat:no-repeat;
  direction:fixed;
  background-size: 100%;
}

ul {
  list-style-type: none;
  margin: 1;
  padding: 0;
  overflow: hidden;
  
}
img {
  border-radius: 8px;
width : 100px;

}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
img:hover{
width : 150px;
height : 150px;
  border-radius: 27px;	
}
h1
{
color :yellow;
font-size : 38px;
font-family:Avantgarde;
}
p 
{
	
	font-family:Comic Sans MS;
	color:white;
}
a
{
text-decoration : none;
}